* {
    margin: 0px;
}

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    filter: brightness(0.6)
}




.text {
    flex: 1;

}

.mijloc {
    flex: 1;
    text-align: center;

}

.menu {
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-family: didot;
    font-size: 12px;
    background-color: rgba(12, 12, 12, 0);
    border: none;

}

.mijloc :hover {
    color: rgb(47, 45, 45);

}

.dreapta {
    flex: 1;
    position: relative;
    right: 110px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.menuD {
    margin-left: 21px;
    text-decoration: none;
    color: white;
    font-family: gotu;
    font-size: 12px;

}

.nav {
    margin-top: 70px;
    position: sticky;
}

.stanga {
    flex: 1;
}

.logo {
    width: 265px;
    position: absolute;
    top: 60px;
}

.testoM {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 290px;
}

.effect :hover {
    transform: translatey(-20px);
    cursor: pointer;
}




.effect {
    display: flex;
    justify-content: center;
    flex: 0.9;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    position: relative;
    top: 550px;
    height: 400%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.h1bot {
    font-size: 20px;
    margin: 0px;
    padding-left: 50px;
    font-family: Didot;
}

.pbot {
    margin: 0px;
    padding-right: 50px;
    margin-top: 15px;
    font-family: Didot;
}

.pbot2 {
    font-size: 10px;
    padding-left: 50px;
    margin: 0px;
    font-family: Didot
}

.testobot {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
    top: 500px;
    color: white;
    margin-left: 20px;
}

.divh1p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    flex: 0.1;
    margin: 0px;
    object-fit: cover;
}
.logomobile {
    display: none;
    
}
@media screen and (max-width: 1117px)  {
    .logo {
     display: none;
    }
}
@media screen and (max-width: 1117px)  {
    .mijloc {
     display: none;
    }
}

@media screen and (max-width: 1117px)  {
    .logomobile {
     display: flex;
    height: 10vh;
     
    position: relative;
    top: 120px;
    
    }
}